In [5]:
import pandas as pd
import numpy as np

train = pd.read_csv('./drive/MyDrive/ncf/data/train.csv')
test = pd.read_csv('./drive/MyDrive/ncf/data/test.csv')


train.head()

   userId  movieId  rating  timestamp
0       1     2012     4.0  964984176
1       1     2478     4.0  964984169
2       1      553     5.0  964984153
3       1     1445     3.0  964984112
4       1      157     5.0  964984100